/******************************* Tag selectors ************************/
h1{
    color: red;
    font-size: 100px;
}
img:hover{
    background-color: gold;
}

/******************************* Class selectors ************************/
/*
classes can have more than one attributes
*/
.bacon {
    background-color: green;
}
.broccoli{
    background-color: red;
}
.circular{
    border-radius: 10%;
}

/******************************* Id selectors ************************/
/*
Id can have only one attribute unlike class
*/
#heading{
    color: blue;
}