body {
    background-color: #BAD7E9;
}
h1{
    color: #2B3467;
    font-style: italic;
}
h3{
    color: #2B3467;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
}